$primary-color: #344962;
$secondary-color: #dfc096;
$light-bg-1: #f4e1c7;
$light-bg-2: #f5f5f5;
$focus-box-shadow: 0 0 0 0.25rem rgba(41, 69, 102, 0.6);

$font-family: "Poppins", Arial, Helvetica, sans-serif;